.App {
  text-align: center;
}

h3{
  color: rgb(0, 87, 61);
  font-weight: 700;
}
span{
  color: #c4b581;
}
.navbar{
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}
.nav-links{
  color: #0a6e38;
  transition: .2s; 
  text-align: center;
  margin-top: 10px;
}

.nav-links:hover{
  color: #c4b581;
  transition: .4s;
}
.nav-links2{
  margin-top: 10px;
  transition: .2s;
}
.nav-signin{
  display: flex;
}
.login-btn{
  border: none;
  background-color: transparent;
}
.signup-btn{
  background-color: #c4b581;
  color: rgb(0, 87, 61);
  border-radius: 30px;
  border: none;
  transition: .2s;
}
.signup-btn:hover{
  background-color: #B5A778;
  transition: .4s;
}
.signup-modal-btn{
  border: none;
  background-color: transparent;
  text-decoration: underline;
  font-weight: 700;
}
.home-page{
  background-image: url("./Images/SacState.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: fill;
  height: 70vh;
}

.home-page-input{
  padding-top: 25vh;
  z-index: 1;
  position: relative;
}
.home-page-logo{
  color: white;
}
.home-page-search{
  background-color: white;
  padding: .8rem;
  margin-top: 30px;
  border: none;
  border-radius: 20px;
  width: 50vh;
}
.home-page-search:focus{
  outline: none;
}
.login-title{
  text-align: center;
}
.modal-content{
  justify-content: center;
  text-align: center;
}
.login-form{
  margin-top: 1vh;
}
.signin-btn{
 padding: .7rem;
 border-radius: 25px;
 margin-top: 20px;
 width: 100px;

}
.signup-text{
  margin-top: 2vh;
}
.search-btn{
  background-color: rgb(0, 87, 61);
  color: white;
  padding: .7rem;
  border: 1px black solid;
  border-radius: 20px;
  margin-left: 10px;
  transition: .4s;
}
.search-btn:hover{
  transition: .6s;
  background-color: #0a6e38;
}
.review-header{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.request-btn{
  background-color: transparent;
  border: none;
  text-decoration: underline;
  font-weight: 700;
}
.addreview-form{
  margin-top: 10vh;
  border: 1px solid black;
  width: 700px;
  padding: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}
.addReview-btn{
  background-color: #0a6e38;
  color: white;
  padding: .6rem;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 5vh;
}
.review-card{
  width: 550px;
  border: 1px solid grey;
  border-radius: 20px;
  margin-bottom: 5vh;
  margin-right: auto;
  margin-left: auto;
  justify-content: start;
  text-align: left;
  padding: .5rem;
}
.rating-card{
  padding: .7rem;
  border: 1px solid black;
  text-align: center;
  border-radius: 20px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
.review-data{
  padding-top: .5rem;
}
.review-paragraph{
  margin-top: 10px;
}
.review-body{
  margin-top: 5vh;
}
.review-section{
  margin-top: 5vh;
}
.course-description{
  font-size: 12px;
}
@media only screen and (max-width: 991px){
  .nav-signin{
    display: block;
  }
  .signup-btn{
    color: rgb(0, 87, 61);
    border-radius: 30px;
    border: none;
    background-color: transparent;
  }
  .signup-btn:hover{
    color: rgb(0, 87, 61);
    border-radius: 30px;
    border: none;
    background-color: transparent;
  }
  .nav-links{
    color: #0a6e38;
    transition: .2s; 
    text-align: center;
    margin-top: 0px;
  }
  .nav-links2{
    margin-top: 0px;
    color: #0a6e38;
    transition: .2s;
  }
  .nav-links2:hover{
    color: #c4b581;
    transition: .4s;
  }
}