.App {
  text-align: center;
}

h3{
  color: rgb(0, 87, 61);
  font-weight: 700;
}
span{
  color: #c4b581;
}
.nav-links{
  color: #0a6e38;
  transition: .2s;
  font-weight: 600;
}
.nav-links:hover{
  color: #c4b581;
  transition: .4s;
}
.home-page{
  background-image: url("./Images/SacState.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: fill;
  height: 70vh;
  
}

.home-page-input{
  padding-top: 25vh;
  z-index: 1;
  position: relative;
  
}
.home-page-logo{
  color: white;
}
.home-page-search{
  background-color: white;
  padding: .8rem;
  margin-top: 30px;
  border: none;
  border-radius: 20px;
  width: 50vh;
}
.home-page-search:focus{
  outline: none;
}